Repository Benrski/benjaminarski: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,css,md,yml}": [
    "prettier --write"
  ]
}

Update dependabot.yml
  .github/dependabot.yml
Due: prettier --write

Changed lint staged order
  .lintstagedrc
Due: none

React spring test
  index.html
  src/App.tsx
  src/index.tsx
Due: eslint --fix, prettier --write

React spring tests
  src/App.tsx
Due: eslint --fix, prettier --write

Fix in prod skusku
  src/App.tsx
Due: eslint --fix, prettier --write

Changed timings
  src/App.tsx
Due: eslint --fix, prettier --write

Changed chain time steps
  src/App.tsx
Due: eslint --fix, prettier --write

Updated yarn.lock file
  yarn.lock
Due: none

Formatted tsconfig file
  tsconfig.json
Due: prettier --write

Added favicon
  index.html
  public/favicon.svg
Due: none

Added new line
  public/favicon.svg
Due: none

Updated favicon
  public/favicon.svg
Due: none

Updated yarn.lock
  yarn.lock
Due: none

Changed text... don't know what to write
  src/App.tsx
Due: eslint --fix, prettier --write

Moved waving hand in custom component
  src/App.tsx
  src/components/WavingHand.tsx
Due: eslint --fix, prettier --write

Updated to React 18
  package.json
  src/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Changed some animations
  src/App.tsx
Due: eslint --fix, prettier --write

Fixed favicon path
  public/favicon.svg
Due: none

Fixed waving hand animation
  src/components/WavingHand.tsx
Due: eslint --fix, prettier --write

Replaced react-spring with @react-spring/web
  package.json
  src/components/WavingHand.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Bump vite from 2.9.13 to 3.0.0
  package.json
  tsconfig.json
  tsconfig.node.json
  yarn.lock
Due: prettier --write

yarn-deduplicate
  yarn.lock
Due: none

fix: replaced FP with function
  src/App.tsx
  src/components/WavingHand.tsx
  src/index.tsx
Due: eslint --fix, prettier --write

fix: vite to 3.0.2
  package.json
  yarn.lock
Due: prettier --write

feat: analytics (test)
  index.html
Due: none

deps: @react-spring/web from 9.5.1 to 9.5.2
  package.json
  yarn.lock
Due: prettier --write

bump: @types/react from 18.0.15 to 18.0.16
  package.json
  yarn.lock
Due: prettier --write

bump: tailwindcss from 3.1.7 to 3.1.8
  package.json
  yarn.lock
Due: prettier --write

bump: postcss from 8.4.14 to 8.4.16
  package.json
  yarn.lock
Due: prettier --write

fix: yarn-deduplicate
  yarn.lock
Due: none

feat: add clsx package
  package.json
  yarn.lock
Due: prettier --write

bump: @types/react from 18.0.16 to 18.0.17
  package.json
  yarn.lock
Due: prettier --write

feat: logo and sequence (WIP)
  src/App.tsx
  src/features/Intro/Intro.tsx
  src/features/Intro/components/GreetingStep/GreetingStep.tsx
  src/features/Intro/components/GreetingStep/index.ts
  src/features/Intro/components/LogoStep/LogoStep.tsx
  src/features/Intro/components/LogoStep/constants.ts
  src/features/Intro/components/LogoStep/index.ts
  src/features/Intro/components/LogoStep/types.ts
  src/features/Intro/components/WavingHand/WavingHand.tsx
  src/features/Intro/components/WavingHand/index.ts
  src/features/Intro/components/WavingHand/types.ts
  src/features/Intro/index.ts
  src/features/Intro/types.ts
Due: eslint --fix, prettier --write

fix: change logo animation
  src/features/Intro/components/LogoStep/LogoStep.tsx
  src/features/Intro/components/LogoStep/constants.ts
  src/features/Intro/components/LogoStep/types.ts
Due: eslint --fix, prettier --write

feat: basic router
  src/App.tsx
Due: eslint --fix, prettier --write

fix: rename intro to splash
  src/App.tsx
  src/features/Intro/index.ts
  src/features/Splash/Splash.tsx
  src/features/Splash/components/GreetingStep/GreetingStep.tsx
  src/features/Splash/components/GreetingStep/index.ts
  src/features/Splash/components/LogoStep/LogoStep.tsx
  src/features/Splash/components/LogoStep/constants.ts
  src/features/Splash/components/LogoStep/index.ts
  src/features/Splash/components/LogoStep/types.ts
  src/features/Splash/components/WavingHand/WavingHand.tsx
  src/features/Splash/components/WavingHand/index.ts
  src/features/Splash/components/WavingHand/types.ts
  src/features/Splash/index.ts
  src/features/Splash/types.ts
Due: eslint --fix, prettier --write

fix: rename step
  src/features/Splash/Splash.tsx
  src/features/Splash/components/GreetingStep/index.ts
  src/features/Splash/components/IntroStep/IntroStep.tsx
  src/features/Splash/components/IntroStep/index.ts
Due: eslint --fix, prettier --write

fix: moved waving hand to shared components
  src/components/WavingHand/WavingHand.tsx
  src/components/WavingHand/index.ts
  src/components/WavingHand/types.ts
  src/features/Splash/components/IntroStep/IntroStep.tsx
Due: eslint --fix, prettier --write

fix: rename paths ref
  src/features/Splash/components/LogoStep/LogoStep.tsx
Due: eslint --fix, prettier --write

fix: change delay
  src/features/Splash/Splash.tsx
Due: eslint --fix, prettier --write
