Repository Benrski/benjaminarski: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

bump: react and react-dom types
  package.json
  yarn.lock
Due: prettier --write

bump: vite
  package.json
  yarn.lock
Due: prettier --write

bump: tailwind
  package.json
  yarn.lock
Due: prettier --write

bump: eslint
  package.json
  yarn.lock
Due: prettier --write

bump: typescript
  package.json
  yarn.lock
Due: prettier --write

bump: deps
  package.json
  yarn.lock
Due: prettier --write

feat: nvmrc
  .nvmrc
Due: none

feat: yarn 3
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.2.4.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

feat: yarn typescript plugin
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarnrc.yml
Due: prettier --write

fix: husky
  package.json
Due: prettier --write

fix: logo splash
  src/features/Splash/components/LogoStep/LogoStep.tsx
Due: prettier --write, eslint --fix

fix: favicon href
  index.html
Due: none

feat: absolute import support
  .eslintrc
  package.json
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

yarn from 3.2.4 to 3.3.1
  .nvmrc
  .yarn/releases/yarn-3.2.4.cjs
  .yarn/releases/yarn-3.3.1.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

migrate from vite to next
  .eslintrc
  .lintstagedrc
  .lintstagedrc.js
  .prettierignore
  index.html
  next.config.js
  package.json
  public/favicon.ico
  public/favicon.svg
  public/next.svg
  public/thirteen.svg
  public/vercel.svg
  src/App.tsx
  src/components/Splash/Splash.tsx
  src/components/Splash/components/IntroStep/IntroStep.tsx
  src/components/Splash/components/IntroStep/index.ts
  src/components/Splash/components/LogoStep/LogoStep.tsx
  src/components/Splash/components/LogoStep/constants.ts
  src/components/Splash/components/LogoStep/index.ts
  src/components/Splash/components/LogoStep/types.ts
  src/components/Splash/index.ts
  src/components/Splash/types.ts
  src/index.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/styles/globals.css
  src/vite-env.d.ts
  tailwind.config.js
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

update package.json
  package.json
  src/pages/_document.tsx
  yarn.lock
Due: prettier --write, eslint --fix

remove comment
  .gitignore
Due: none

update lintstagedrc
  .lintstagedrc.js
  .prettierignore
Due: prettier --write, eslint --fix

lintstagedrc refactor
  .lintstagedrc.js
Due: prettier --write, eslint --fix

fix: update head
  public/favicon.ico
  public/favicon.svg
  public/next.svg
  public/thirteen.svg
  public/vercel.svg
  src/pages/index.tsx
Due: prettier --write, eslint --fix

chore: yarn 3.5.1
  .yarn/releases/yarn-3.3.1.cjs
  .yarn/releases/yarn-3.5.1.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

chore: next 13.4.2
  package.json
  yarn.lock
Due: prettier --write

chore: bump types deps
  package.json
  yarn.lock
Due: prettier --write

chore: bump some dev deps
  package.json
  yarn.lock
Due: prettier --write

chore: typescript 5.0.4
  package.json
  yarn.lock
Due: prettier --write

chore: react-spring 9.7.2
  package.json
  yarn.lock
Due: prettier --write

chore: yarn.lock
  yarn.lock
Due: none

chore: cva + clsx
  package.json
  yarn.lock
Due: prettier --write

chore: rename waving hand component
  src/components/WavingHand/index.ts
  src/components/waving-hand/index.ts
  src/components/waving-hand/types.ts
  src/components/waving-hand/waving-hand.tsx
Due: prettier --write, eslint --fix

chore: cleanup
  src/components/Splash/Splash.tsx
  src/components/Splash/components/IntroStep/IntroStep.tsx
  src/components/Splash/components/LogoStep/LogoStep.tsx
  src/components/waving-hand/waving-hand.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{json,css,md,yml})
  eslint --fix: any of: *.{js,ts,jsx,tsx}
